{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% load static %}

{% block content %}

<div class="m-4">
    <h4>We've emailed you instructions to reset your password, if an account exists with the email you entered, You should
        receive the email shortly.</h4>
    <h4>If you don't receive an email, please make sure you've entered the correct email you registered with, and check your
        spam folder.</h4>
</div>

<div class="m-4">
    <h6>
        <a href="/">Return to Home Page</a>
    </h6>
</div>

{% endblock %}