{% extends 'base.html' %}
{% block title %} Reset Password {% endblock %}
{% load static %}

{% block content %}

<div class="signup container mt-5 bg-white">
    <div class="row jumbotron p-1">
        <div class="col-sm-12 my-4">
            <h2 class="text-center">Reset Password</h2>
        </div>

        {% if validlink %}
        <form method="POST" class="form-signin">
            {% csrf_token %}
            <input type="password" class="form-control" name="new_password1" placeholder="New Password" required id="id_new_password1">

            <br>

            <input type="password" class="form-control" name="new_password2" placeholder="Confirm Password" required id="id_new_password2">

            <button class="btn btn-primary my-3" type="submit">Submit</button>
        </form>
        {% else %}
        <p>
            The password reset link was invalid, possibly because it has already been used. Please request a new password reset.
        </p>
        {% endif %}

    </div>
</div>


{% endblock %}